<h1>Modelos de Produtos</h1>


<% if @product_models.any? %>
    <table>
        <thread>
            <tr>
                <th>Nome</th>
                <th>SKU</th>
                <th>Fornecedor</th>
            </tr>
        </thread>
        <tbody>
            <% @product_models.each do |pm| %>
            <tr>
                <td><%= link_to pm.name, pm %></td>
                <td><%= pm.sku %></td>
                 <td><%= pm.supplier.brand_name %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p>Não existem modelos de produtos cadastrados.</p>
<% end %>
<br>

<%= link_to 'Cadastrar novo modelo de produto', new_product_model_path %>