<h1> Novo Modelo de Produto </h1>

<% if @product_models.errors.any? %>
    <p> Verifique os erros abaixo: </p>
    <ul>
    <% @product_models.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
    <% end %>
    </ul>
<%end%>

<%= render 'form' %>