<h1>Sistema de Galpões e Estoque</h1>

<h3>Galpões</h3>
<% @warehouses.each do |w|  %>
    <%= link_to w.name, w %>
    Código: <%= w.code %>
    Cidade: <%= w.city %>
    Área: <%= w.area %> m2
<%end %>

<% if @warehouses.empty? %>
<p> Não existem galpões cadastrados</p>
<%end%>